<% layout('layout') -%>

<div id="leftBar1" class="pull-left col-md-3">
  <div>
    <div>
      <h3>Search Events:</h3>
      <form id="event-form" action="">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name="search_name" id="search_name" class="form-control" value=" " />
        </div>

        <div>
          <label for="description" class="form-group">Description:</label>
          <input type="text" name="search_description" id="search_description" class="form-control" value=" "  />
        </div>

        <div>
          <label for="start_date" class="form-group">Start Date:</label>
          <input type="text" id="search_start" class="form-control"/>
        </div>

        <div>
          <label for="end_date" class="form-group">End Date:</label>
          <input type="text" id="search_end" class="form-control"/>
        </div><br />

        <span id="Search" class="btn btn-primary">Search</span>
        <span id="Clear" class="btn btn-warning">clear</span><br /><br />

        <div id="search_results" style="display:none;"><b>Results</b>
        </div>
      </form>

    </div>
  </div>


</div>

<div id="container-calendar" class="col-md-6"><div id="calendar"></div></div>

<div id="rightBar1" class="pull-right col-md-3">
  <div id="event-details">
    <h3> Event Details: </h3>
    <form id="event-form" action="">
      <div>
        <div id="new_event_note" style="display:none;">Create new event:</div>
        <input type="hidden" name="action_type" id="action_type" value="new"/>
        <input type="hidden" name="event_id" id="event_id" value=""/>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="event_name" class="form-control" />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="event_description" class="form-control" />
      </div>

      <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="text" id="event_start_date" class="form-control" />
      </div>

      <div class="form-group">
        <label for="start_time">Start Time:</label>
        <input type="text" id="event_start_time" class="form-control" />
      </div>

      <span id="event_save_btn" class="btn btn-primary">Save</span>
      <span id="event_delete_btn" class="btn btn-warning">Delete</span>
      <span id="event_export_btn" class="btn btn-primary" style="display:none;">Export</span>
    </form>

  </div> <br />

  <div id="other-calendars">
      <h3> Other Calendars: </h3>
    <div id="import-gcal" class="checkbox">
      <label><input type="checkbox" id="import-gcal-checkbox" />aaltoelec@gmail.com</label>
    </div>
  </div>

</div>
