<% layout('layout') -%>

<div id="leftBar1" class="pull-left col-md-3">
  <form>
  <a href="#" id="Create" class="button"><span>✓</span>Create   </a>
  <br>
  <a href="#" id="Update"  class="button"><span>✓</span>Update   </a>
  <br>
  <a href="#" id="Delete"  class="button"><span>✓</span>Delete   </a>
  <br>
  <a href="#" id="Search"  class="button"><span>✓</span>Search   </a>
  </form>
</div>

<div id="container-calendar" class="col-md-6"><div id="calendar"></div></div>

<div id="rightBar1" class="pull-right col-md-3">
  <div id="event-details">
    <h3> Event Details: </h3>
    <form id="event-form" action="">
      <div>
        <div id="new_event_note" style="display:none;">Create new event:</div>
        <input type="hidden" name="action_type" id="action_type" value=""/>
        <input type="hidden" name="event_id" id="event_id" value=""/>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="event_name" class="form-control" />
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" id="event_description" class="form-control" />
      </div>

      <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="text" id="event_start_date" class="form-control" />
      </div>

      <div class="form-group">
        <label for="start_time">Start Time:</label>
        <input type="text" id="event_start_time" class="form-control" />
      </div>


      <span id="event_save_btn" class="btn btn-primary">Save</span>
      <span id="event_delete_btn" class="btn btn-warning">Delete</span>
      <span id="event_export_btn" class="btn btn-primary" style="display:none;">Export</span>
    </form>

  </div> <br />

  <div id="other-calendars">
      <h3> Other Calendars: </h3>
    <div id="import-gcal" class="checkbox">
      <label><input type="checkbox" id="import-gcal-checkbox" />aaltoelec@gmail.com</label>
    </div>
  </div>

</div>
