<!DOCTYPE html>
<html lang="en">


<head>
    <% include common/head.ejs%>

</head>

<body>

<% include common/header.ejs%>


<!-- Insert Body here -->
<div class="container">

    <div class="starter-template">
        <%- body %>
    </div>

</div><!-- /.container -->

<% include common/footer.ejs%>

</body>

<script src="lib/jquery/jquery.js"></script>
<script src="lib/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
<script src="javascripts/jquery.timepicker.js"></script>
<script src="javascripts/home.js"></script>
<!--script src='lib/fullcalendar/lib/jquery.min.js'></script-->
<script src='lib/fullcalendar/lib/moment.min.js'></script>
<script src='lib/fullcalendar/fullcalendar.js'></script>



</html>
