<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- styles -->
<link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="stylesheets/style.css" rel="stylesheet">
<link href="lib/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
<link href="stylesheets/jquery.timepicker.css" rel="stylesheet">
<link rel='stylesheet' href='lib/fullcalendar/fullcalendar.css' />
